<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DivTax - Home</title>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/index.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    
    .custom-section {
      height: calc(100vh - 56px); /* Adjust the height as desired */
    }

    #chartContainer {
      height: calc(100% - 56px);
      width: 95vw;
    }

    .footer-1 {
      line-height: 0.1;
    }


#footer {
  height: 20px;
  background: red; 
  color: white;
}

  </style>
</head>
<body>
	
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">Div<span class="text-warning">Tax</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
        <li class="nav-item">
          <a href="/positions" class="nav-link">Positions</a>
        </li>
        <li class="nav-item">
          <a href="/docs" class="nav-link">Docs</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>

<!-- Showcase -->
<section class="bg-dark text-light p-5 p-lg-3 pt-lg-5 text-center text-sm-start showcase custom-section">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center">
      <div class="col">
        <h1 class="text-center">Hello <span class="text-warning">{{ .Username }}</span>!</h1>
        <h2 class="text-center">Dividend Tax to be paid: <span class="text-warning">{{ printf "%.2f" .DividendTax }}</span> PLN</h2>
        <h2 class="text-center">Dividends YTD: <span class="text-warning">{{ printf "%.2f"  .DividendsYTD }}</span> USD</h2>
        <div class="text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
          Edit Month Data
        </button>
      </div>
      </div>
      <div class="col">
        <div id="chartContainer">
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Month Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <div class="mb-3">
            <label for="janValue" class="form-label">January Value</label>
            <input type="text" class="form-control" id="janValue" name="janValue" required>
          </div>
          <div class="mb-3">
            <label for="febValue" class="form-label">February Value</label>
            <input type="text" class="form-control" id="febValue" name="febValue" required>
          </div>
          <div class="mb-3">
            <label for="marValue" class="form-label">March Value</label>
            <input type="text" class="form-control" id="marValue" name="marValue" required>
          </div>
          <div class="mb-3">
            <label for="aprValue" class="form-label">April Value</label>
            <input type="text" class="form-control" id="aprValue" name="aprValue" required>
          </div>
          <div class="mb-3">
            <label for="mayValue" class="form-label">May Value</label>
            <input type="text" class="form-control" id="mayValue" name="mayValue" required>
          </div>
          <div class="mb-3">
            <label for="junValue" class="form-label">June Value</label>
            <input type="text" class="form-control" id="junValue" name="junValue" required>
          </div>
          <div class="mb-3">
            <label for="julValue" class="form-label">July Value</label>
            <input type="text" class="form-control" id="julValue" name="julValue" required>
          </div>
          <div class="mb-3">
            <label for="augValue" class="form-label">August Value</label>
            <input type="text" class="form-control" id="augValue" name="augValue" required>
          </div>
          <div class="mb-3">
            <label for="sepValue" class="form-label">September Value</label>
            <input type="text" class="form-control" id="sepValue" name="sepValue" required>
          </div>
          <div class="mb-3">
            <label for="octValue" class="form-label">October Value</label>
            <input type="text" class="form-control" id="octValue" name="octValue" required>
          </div>
          <div class="mb-3">
            <label for="novValue" class="form-label">November Value</label>
            <input type="text" class="form-control" id="novValue" name="novValue" required>
          </div>
          <div class="mb-3">
            <label for="decValue" class="form-label">December Value</label>
            <input type="text" class="form-control" id="decValue" name="decValue" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  <!-- Footer -->
  <div id="footer">
    <footer class="pt-0 p-sm-8 bg-dark text-white text-center position-relative footer">
      <p class="footer-1">Copyright &copy; 2023 Kasper Kornak. From Kraków with ❤️</p>
      <p>Alpha version. Calculations are for illustrative purposes only. The service owner is not responsible for errors resulting from the use of the application.</p>
  </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0"></script>
  <script>
    function fetchDataAndRenderChart() {
      $.ajax({
        url: '/api/data',
        method: 'GET',
        success: function(data) {
          var chartData = {
            labels: data.Months.map(function(month) {
              return month.Name;
            }),
            datasets: [{
              label: 'Dividends',
              data: data.Months.map(function(month) {
                return month.Value;
              }),
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          };

          var chartOptions = {
            responsive: true,
            maintainAspectRatio: false,
			
            scales: {
              x: {
                grid: {
                  display: false
                }
              },
              y: {
                beginAtZero: true
              }
            }
          };

          var ctx = document.getElementById('chart').getContext('2d');

          var chart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: chartOptions
          });
        },
        error: function(error) {
          console.error('Error fetching data:', error);
        }
      });
    }

    document.addEventListener('DOMContentLoaded', fetchDataAndRenderChart);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Attach an event listener to the form submission
      document.getElementById("editForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form submission and page reload
  
        // Collect data from the form
        const year = new Date().getFullYear(); // Assuming the year is the current year
        const ticker = "MONTH_SUMARY"; // Replace with the appropriate value
  
        const months = [
          {
            name: "Jan",
            value: parseFloat(document.getElementById("janValue").value),
          },
          {
            name: "Feb",
            value: parseFloat(document.getElementById("febValue").value),
          },
          {
            name: "Mar",
            value: parseFloat(document.getElementById("marValue").value),
          },
          {
            name: "Apr",
            value: parseFloat(document.getElementById("aprValue").value),
          },
          {
            name: "May",
            value: parseFloat(document.getElementById("mayValue").value),
          },
          {
            name: "Jun",
            value: parseFloat(document.getElementById("junValue").value),
          },
          {
            name: "Jul",
            value: parseFloat(document.getElementById("julValue").value),
          },
          {
            name: "Aug",
            value: parseFloat(document.getElementById("augValue").value),
          },
          {
            name: "Sep",
            value: parseFloat(document.getElementById("sepValue").value),
          },
          {
            name: "Oct",
            value: parseFloat(document.getElementById("octValue").value),
          },
          {
            name: "Nov",
            value: parseFloat(document.getElementById("novValue").value),
          },
          {
            name: "Dec",
            value: parseFloat(document.getElementById("decValue").value),
          },
        ];
  
        // Prepare the payload matching the required structure
        const payload = {
          year: year,
          ticker: ticker,
          months: months,
        };
  
        // Send the POST request using fetch API
        fetch("/api/month", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(payload),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            console.log("Data sent successfully:", data);
          })
          .catch((error) => {
            console.error("Error sending data:", error);
            // Handle errors, show error messages, etc.
          });
          const editModal = new bootstrap.Modal(document.getElementById("editModal"));
            editModal.hide();
            location.reload();
      });
    });
  </script>
  
  
</body>
</html>
