<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>💸 DivTax - Positions</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/index.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background-color: var(--bs-dark);
      color: var(--bs-light);
    }
    
    .custom-section {
      min-height: calc(100vh - 56px); /* Adjust the height as desired */
    }

    #chartContainer {
      height: calc(100% - 56px);
      width: 95vw;
    }

    .table {
      background-color: var(--bs-dark);
      color: var(--bs-light);
    }

    .table thead th {
      color: var(--bs-light);
      background-color: var(--bs-dark);
    }

    .text-light {
      color: var(--bs-light);
    }
  </style>
</head>
<body>
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">💸 Div<span class="text-warning">Tax</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Table -->
  <div class="container mt-5 bg-dark text-light">
    <table id="positionsTable" class="table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Shares</th>
          <th>Domestic Tax</th>
          <th>Currency</th>
          <th>Div Quarterly Rate</th>
          <th>Div YTD</th>
          <th>Div PLN</th>
          <th>Next Payment</th>
          <th>Prev Payment</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <p id="noPositionsText" class="text-center"></p>
  </div>

  <!-- Buttons -->
  <div class="container mt-3 text-center">
    <button id="addButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add Position</button>
    <button id="editButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit Position</button>
    <button id="deleteButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Position</button>
  </div>

<!-- Add Modal -->
<div class="modal fade text-dark" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Position</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addForm">
          <div class="mb-3">
            <label for="tickerInputAdd" class="form-label">Ticker</label>
            <input type="text" class="form-control" id="tickerInputAdd" required>
          </div>
          <div class="mb-3">
            <label for="sharesInput" class="form-label">Shares</label>
            <input type="number" class="form-control" id="sharesInput" required>
          </div>
          <div class="mb-3">
            <label for="domesticTaxInput" class="form-label">Domestic Tax</label>
            <input type="number" class="form-control" id="domesticTaxInput" required>
          </div>
          <div class="mb-3">
            <label for="currencyInput" class="form-label">Currency</label>
            <input type="text" class="form-control" id="currencyInput" required>
          </div>
          <div class="mb-3">
            <label for="divquarterlyrateInput" class="form-label">Div quarterly rate</label>
            <input type="number" class="form-control" id="divquarterlyrateInput" required>
          </div>
          <div class="mb-3">
            <label for="divytdInput" class="form-label">Div YTD</label>
            <input type="number" class="form-control" id="divytdInput" required>
          </div>
          <div class="mb-3">
            <label for="divplnInput" class="form-label">Div PLN</label>
            <input type="number" class="form-control" id="divplnInput" required>
          </div>
          <div class="mb-3">
            <label for="nextpaymentInput" class="form-label">Next Payment</label>
            <input type="number" class="form-control" id="nextpaymentInput" required>
          </div>
          <div class="mb-3">
            <label for="prevInput" class="form-label">Prev Payment</label>
            <input type="number" class="form-control" id="prevInput" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="addSubmitButton" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>


  <!-- Edit Modal -->
  <div class="modal fade text-dark" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <!-- Edit modal content here -->
    <!-- Use the same form structure as before -->
  </div>

  <!-- Delete Modal -->
  <div class="modal fade text-dark" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Position</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="deleteForm">
            <div class="mb-3">
              <label for="tickerInputDelete" class="form-label">Ticker</label>
              <input type="text" class="form-control" id="tickerInputDelete" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="deleteSubmitButton" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="pt-0 p-sm-8 bg-dark text-white text-center">
    <div class="container">
      <p class="lead" style="margin-bottom: 0;">&copy; 2023 Kasper Kornak. From Kraków with ❤️</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0"></script>
  <script>
    function formatDate(dateString) {
      const date = new Date(dateString * 1000);
      const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
      return date.toLocaleDateString('en-GB', options);
    }

    $(document).ready(function() {
      $.ajax({
        url: '/api/positions',
        method: 'GET',
        success: function(response) {
          var positionsTableBody = $('#positionsTable tbody');
          var stocks = response.stocks;

          if (stocks.length === 0) {
            $('#noPositionsText').text('No positions yet');
          } else {
            stocks.forEach(function(position) {
              var row = $('<tr>');

              $('<td>').text(position.ticker).appendTo(row);
              $('<td>').text(position.shares).appendTo(row);
              $('<td>').text(position.domestictax).appendTo(row);
              $('<td>').text(position.currency).appendTo(row);
              $('<td>').text(position.divquarterlyrate).appendTo(row);
              $('<td>').text(position.divytd).appendTo(row);
              $('<td>').text(position.divpln).appendTo(row);
              $('<td>').text(formatDate(position.nextpayment)).appendTo(row);
              $('<td>').text(formatDate(position.prevpayment)).appendTo(row);

              positionsTableBody.append(row);
            });
          }
        },
        error: function(error) {
          console.error('Error fetching data:', error);
        }
      });

      $('#addSubmitButton').click(function() {
      var ticker = $('#tickerInputAdd').val();
      var shares = parseInt($('#sharesInput').val());
      var domesticTax = parseFloat($('#domesticTaxInput').val());
      var currencyInput = $('#currencyInput').val();
      var divquarterlyRate = parseFloat($('#divquarterlyrateInput').val());
      var divYTD = parseFloat($('#divytdInput').val());
      var divPLN = parseFloat($('#divplnInput').val());
      var nextPayment = parseInt($('#nextpaymentInput').val());
      var prev = parseInt($('#prevInput').val());

      var data = {
        ticker: ticker,
        shares: shares,
        domestictax: domesticTax,
        currency: currencyInput,
        divquarterlyrate: divquarterlyRate,
        divytd: divYTD,
        divpln: divPLN,
        nextpayment: nextPayment,
        prevpayment: prev

        // Add other fields as needed for adding positions
      };
      $.ajax({
        url: '/api/update',
        method: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: function(response) {
          // Handle success, e.g., refresh the table to show the new data
          // You can also close the modal if needed
          $('#addModal').modal('hide');
          location.reload(); 
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });

      // Clear form fields
      $('#tickerInputAdd').val('');
      $('#sharesInput').val('');
      $('#domesticTaxInput').val('');
      $('#currencyInput').val('');
      $('#divquarterlyrateInput').val('');
      $('#divytdInput').val('');
      $('#divplnInput').val('');
      $('#nextpaymentInput').val('');
      $('#prevInput').val('');

    });
  });

      // Add code to handle the delete confirmation
      $('#deleteSubmitButton').click(function() {
        var ticker = $('#tickerInputDelete').val(); // Replace with the actual input field IDs

        var data = {
          ticker: ticker
        };

        $.ajax({
          url: '/api/update',
          method: 'DELETE',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function(response) {
            location.reload();
          },
          error: function(error) {
            console.error('Error:', error);
          }
        });

        // Clear form fields
        $('#tickerInputDelete').val(''); // Replace with the actual input field IDs

        $('#deleteModal').modal('hide');
      });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"></script>
</body>
</html>
