<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Shares</th>
            <th>Domestic Tax</th>
            <th>Currency</th>
            <th>Quarterly Dividend Rate</th>
            <th>Dividend YTD</th>
            <th>Dividend PLN</th>
            <th>Next Payment Date</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.Ticker}}</td>
            <td>{{.Shares}}</td>
            <td>{{.Domestictax}}</td>
            <td>{{.Currency}}</td>
            <td>{{.DivQuarterlyRate}}</td>
            <td>{{.DivYTD}}</td>
            <td>{{.DivPLN}}</td>
            <td>{{.NextPayment}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
